.content {
  margin-top: 100px;
}

.selectize-control::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 12px;
	right: 34px;
	width: 16px;
	height: 16px;
	background: url(../img/spinner.gif);
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.loading::before {
	opacity: 0.4;
}

input:invalid {
  border-color: #c7254e;
}

.form-control.inline {
  max-width: 5em;
  display: inline;
}

.form-control.datetimepicker {
  max-width: 12em;
  display: inline;
}

.control-label.pad {
  padding-left: 50px;
}
