<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/select2.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap-responsive.min.css">
	  <link rel="stylesheet" type="text/css" href="assets/lib/css/bwizard.min.css">
	  <link rel="stylesheet" type="text/css" href="assets/lib/css/selectize.default.css">

    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css">
    <title>Adverse Events Reporting System</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand"><%= __("Adverse Event Report") %></span>
        </div>
        <div class="language_selection">
          <p class="navbar-text navbar-right">
            <a href="" data-bind="click: selectLanguage, style: {'font-weight': (language() === 'en')? 'bold' : 'normal'}" data-value="en">en</a> / <a href="" data-bind="click: selectLanguage, style: {'font-weight': (language() === 'fr')? 'bold' : 'normal'}" data-value="fr">fr</a>
          </p>
        </div>
      </div>
    </nav>
    <div class="container-fluid wrapper">
      <div class="page-content-wrapper">
        <div class="container-fluid">

          <div class="row-fluid content">
            <!-- Page content -->
            <div id="wizard" style="display: none">
        			<ol>
        				<li><%= __('Reporter') %></li>
        				<li><%= __('Patient Details') %></li>
        				<li><%= __('Medications') %></li>
        				<li><%= __('Adverse Effect') %></li>
        				<li><%= __('Review') %></li>
        			</ol>

              <!-- Reporter -->
              <div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="reporterName"><%= __("Name (Firstname Lastname)") %></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="reporterName" placeholder="<%= __('Name') %>" required data-bind="valueUpdate: 'keyup', value: data.repname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="reporterAddress"><%= __('Address') %></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="reporterAddress" placeholder="<%= __('Adress') %>" required data-bind="valueUpdate: 'keyup', value: data.repaddress">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="reporterEmail"><%= __('Email') %></label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="reporterEmail" placeholder="<%= __('Email') %>" required data-bind="valueUpdate: 'keyup', value: data.repemail">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="reporterPhone"><%= __('Phone no.') %></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="reporterPhone" placeholder="<%= __('Phone no.') %>" required data-bind="valueUpdate: 'keyup', value: data.repphone">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <div class="checkbox">
                        <p>Can we contact you in case more information is needed?</p>
                        <label>
                          <input type="checkbox" data-bind="checked: data.repcontact"> Yes
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- Patient -->
              <div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __("Identifier") %></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control inline" maxlength="3" placeholder="XXX" required data-bind="valueUpdate: 'keyup', value: data.patid1"> / <input type="text" class="form-control inline" placeholder="X" maxlength="1" required data-bind="valueUpdate: 'keyup', value: data.patid2">
                      <p class="help-block"><%= __("Patient Identifier Help") %></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __('Gender') %></label>
                    <div class="col-sm-10">
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="M" data-bind="checked: data.patgender"> <%= __("M") %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="F" data-bind="checked: data.patgender"> <%= __("F") %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="NA" data-bind="checked: data.patgender"> <%= __("Not defined") %>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="patientBirthday" class="col-sm-2 control-label"><%= __('Date of Birth') %></label>
                    <div class="col-sm-10">
                      <input id="patientBirthday" required type="text" class="form-control" placeholder="YYYY-MM-DD" data-bind="dateTimePicker: {timepicker: false, format:'Y-m-d'}, valueUpdate: 'keyup', value: data.patbirth">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="patientAge" class="col-sm-2 control-label"><%= __('Age') %></label>
                    <div class="col-sm-10">
                      <input id="patientAge" type="number" step="1" min="0" max="150" class="form-control" data-bind="valueUpdate: 'keyup', value: data.patage">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="patientWeight" class="col-sm-2 control-label"><%= __('Weight (kg)') %></label>
                    <div class="col-sm-10">
                      <input id="patientWeight" type="number" step="0.1" min="0" class="form-control" data-bind="valueUpdate: 'keyup', value: data.patweight">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="patientHeight" class="col-sm-2 control-label"><%= __('Height (cm)') %></label>
                    <div class="col-sm-10">
                      <input id="patientHeight" type="number" step="0.1" min="0" class="form-control" data-bind="valueUpdate: 'keyup', value: data.patheight">
                    </div>
                  </div>
                </form>
        			</div>

              <!-- Product -->
        			<div>
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="pad control-label"><%= __("MERCK/MSD Product") %></label>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __("Name") %></label>
                    <div class="col-sm-3">
                      <select class="reportedProduct" placeholder="<%= __('Start typing or select a MERCK product') %>" data-bind="valueUpdate: 'keyup', value: data.msdmed.name"></select>
                    </div>
                    <label class="col-sm-2 control-label"><%= __("Indication") %></label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" required data-bind="valueUpdate: 'keyup', value: data.msdmed.indication">
                    </div>
                    <div class="col-sm-1">
                      <button class="btn btn-primary"><%= __("Add another") %></button>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group">
                    <label class="pad control-label"><%= __("Other medicaments taken by the patient") %></label>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __("Name") %></label>
                    <div class="col-sm-3">
                      <select class="otherProduct" placeholder="<%= __('Start typing or select a product') %>" data-bind="valueUpdate: 'keyup', value: data.othermed.name"></select>
                    </div>
                    <label class="col-sm-2 control-label"><%= __("Indication") %></label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" required data-bind="valueUpdate: 'keyup', value: data.othermed.indication">
                    </div>
                    <div class="col-sm-1">
                      <button class="btn btn-primary"><%= __("Add another") %></button>
                    </div>
                  </div>

                </div>
              </div>

        			<div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" data-bind="valueUpdate: 'keyup', value: data.advevents"><%= __("Event") %></label>
                    <div class="col-sm-10">
                      <!-- <select class="eventSelectMultiple" placeholder="<%= __('Start typing the adverse events') %>" multiple data-bind="value: data.advevents"></select> -->
                      <input type="text" class="eventSelectMultiple" placeholder="<%= __('Start typing the adverse events') %>" data-bind="value: data.advevents">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __('More information') %></label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" data-bind="valueUpdate: 'keyup', value: data.adveventsdetails"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="patientBirthday" class="col-sm-2 control-label"><%= __('Onset') %></label>
                    <div class="col-sm-10">
                      <input required type="text" class="form-control datetimepicker" placeholder="YYYY-MM-DD hh:mm" data-bind="dateTimePicker: {}, valueUpdate: 'keyup', value: data.adveventsonset">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= __('Was the patient hospitalized?') %></label>
                    <div class="col-sm-10">
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="y" data-bind="checked: data.pathospitalized"> <%= __("Yes") %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="n" data-bind="checked: data.pathospitalized"> <%= __("No") %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="patientGender" value="na" data-bind="checked: data.pathospitalized"> <%= __("Not defined") %>
                      </label>
                    </div>
                  </div>
                </form>
              </div>

              <div>
                <div data-bind="text: JSON.stringify(ko.toJS(data))"></div>
                <button class="btn btn-primary" data-bind="click: submit"><%= __("Submit") %></button>
              </div>

        		</div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/lib/js/jquery.min.js"></script>
    <script src="assets/lib/js/knockout.js"></script>
    <script src="assets/lib/js/bootstrap.min.js"></script>
    <script src="assets/lib/js/bootstrap-dialog.min.js"></script>
    <script src="assets/lib/js/jquery.datetimepicker.js"></script>
    <script src="assets/lib/js/date.min.js"></script>
    <script src="assets/lib/js/bwizard.js"></script>
    <script src="assets/lib/js/selectize.js"></script>

    <script src="assets/js/script.js"></script>

    <!-- Init Script-->
    <script>
      window.AERS.init();
    </script>

  </body>
</html>
